@use './mixins' as *;

.truncate {
  @include text-truncate();
}

.clamp-2 {
  @include text-line-clamp(2);
}

.clamp-3 {
  @include text-line-clamp(3);
}

.break-words {
  @include text-break-words();
}

.h-tight {
  font-weight: 600;
  letter-spacing: -0.02em;
}

.h-fluid {
  @include fluid-heading(1.2rem, 1.75rem, 360px, 1440px);
}
